.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; 
}

:focus {
    outline: none;
}

.mainIntro {
    background-image: url(../images/mountainbackground.jpg);
    background-size: cover;
    background-position: center;
}

.mainBoxes {
    height: 100vh;
    background-color: rgba(0,1,29,.9);
    color: white;
    text-align: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.boxesPlacement {
    text-align: center;
    position: relative;
    top: 35%;
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.boxesPlacement h1 {
    text-align: center;
}

.boxesPlacement2 {
    top: 10%;
    transition: all 0.5s ease-in-out;
}

.boxesPlacement2.ng-hide-add,
.boxesPlacement2.ng-hide-remove,
.boxesPlacement2.ng-show-add,
.boxesPlacement2.ng-show-remove,
.boxesPlacement2.ng-class-add,
.boxesPlacement2.ng-class-remove,{
    transition: all .75s ease;
}

.boxesPlacement2.ng-class {
    top: 600px;
}

.borderBottomContact {
    width: 180px;
    border-bottom: 2px solid rgba(48, 49, 77, 1);
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    transition: all 0.5s ease-in-out;
}

.borderBottomContact2 {
    width: 180px;
    border-bottom: 2px solid rgba(48, 49, 77, 1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.testClass {
    background-color: rgba(0, 0, 0, .4);
    transition: all 0.5s ease-in-out;
}

.fullSize {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

.borderBottom {
    width: 180px;
    border-bottom: 2px solid rgba(48, 49, 77, 1);
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}

.personalText {
    width: 300px;
    margin: auto;
    font-size: 120%;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.mysteryAnimate {
/*
    background-image: url(../images/miley.jpg);
    background-size: cover;
    background-position: center;
*/
    width: 100%;
    height: 198%;
    top: 57%;
    position: relative;
/*    box-shadow: 0px -5px 3px black;*/
}

.mysteryAnimate.ng-hide-add,
.mysteryAnimate.ng-hide-remove,
.mysteryAnimate.ng-show-add,
.mysteryAnimate.ng-show-remove {
    transition: all .75s ease;
}

.mysteryAnimate.ng-hide {
    top: 600px;
}

.workAnimate {
    background-image: url(../images/computer.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 198%;
    top: 57%;
    position: relative;
    box-shadow: 0px -5px 3px black;
}

.workAnimate.ng-hide-add,
.workAnimate.ng-hide-remove,
.workAnimate.ng-show-add,
.workAnimate.ng-show-remove {
    transition: all .75s ease;
}

.workAnimate.ng-hide {
    top: 600px;
}

.personalAnimate {
/*
    background-image: url(../images/takeMeToTheMountains.png);
    background-size: cover;
    background-position: center;
*/
    width: 100%;
    height: 198%;
    top: 8%;
    position: relative;
/*    box-shadow: 0px -5px 3px black;*/
}

.personalAnimate.ng-hide-add,
.personalAnimate.ng-hide-remove,
.personalAnimate.ng-show-add,
.personalAnimate.ng-show-remove {
    transition: all .75s ease;
}

.personalAnimate.ng-hide {
    top: 600px;
}

.contactAnimate {
/*
    background-image: url(../images/miley.jpg);
    background-size: cover;
    background-position: center;
*/
    width: 100%;
    height: 198%;
    top: 57%;
    position: relative;
    transition: all 0.5s ease-in-out;
/*    box-shadow: 0px -5px 3px black;*/
}

.contactAnimate2 {
    top: 30%;
    transition: all 0.5s ease-in-out;
}

.contactAnimate.ng-hide-add,
.contactAnimate.ng-hide-remove,
.contactAnimate.ng-show-add,
.contactAnimate.ng-show-remove {
    transition: all .75s ease;
}

.contactAnimate.ng-hide {
    top: 600px;
}

.titleText {
    color: white;
    margin-top: 120px;
    text-align: center;
    font-size: 140%;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}

.experience {
    height: 120px;
    position: relative;
/*    border-top: 2px solid black;*/
/*    border-bottom: 2px solid black;*/
    margin: auto;
    text-align: center;
}

.icons {
    padding: 20px;
    height: 50px;
    width: 50px;
    bottom: 15px;
    margin-top: 30px;
    margin-left: 15px;
}

.firstDiv {
    background-color: white;
    height: 450px;
/*    margin-top: 260px;*/
    padding-left: 100px;
}

.imageSizes {
    width: 425px;
    height: 250px;
    margin-left: 50px;
    margin-top: 100px;
    float: left;
    display: inline-block;
    box-shadow: 5px 5px 5px black;
}

.background {
    background-color: #00011D;
    position: relative;
}

.noDecoration {
    text-decoration: none;
    color: white;
}

.secondDiv {
    background-color: whitesmoke;
    height: 450px;
    padding-left: 100px;
    padding-right: 100px;
}

.info {
    color: black;
    display: inline-block;
    position: absolute;
    margin-top: 120px;
    padding-left: 150px;
    padding-right: 200px;
}

.imageSizes2 {
    width: 425px;
    height: 250px;
    margin-right: 50px;
    margin-top: 100px;
    float: right;
    display: inline-block;
    box-shadow: 5px 5px 5px black;
}

.info2 {
    color: black;
    display: inline-block;
    position: absolute;
    margin-top: 120px;
    padding-left: 40px;
    padding-right: 800px;
}

.thirdDiv {
    background-color: #00011D;
    height: 350px;
    color: white;
    font-size: 200%;
    text-align: center;
    padding-top: 240px;
    font-family: sans-serif;
}

.thirdDiv span {
    padding-left: 20px;
    padding-right: 20px;
}

.iconSize {
    width: 100px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}

.iconSize2 {
    width: 75px;
    height: 75px;
    transition: all 0.5s ease-in-out;
}

.contactInfo {
    top: 200px;
    transition: all 0.5s ease-in-out;
    position: relative;
    display: block;
    font-family: 'Poiret One', cursive;
}

.contactInfo.ng-hide-add,
.contactInfo.ng-hide-remove,
.contactInfo.ng-show-add,
.contactInfo.ng-show-remove {
    transition: all 0.6s ease;
}

.contactInfo.ng-hide {
    top: 800px;
    transition: all 0.6s ease-in-out;
}

.contactBackground {
    background-image: url(../images/kevin.JPG);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: all 1s ease-in-out;
}

.contactBackground2 {
    z-index: -1;
    opacity: 0;
}

.quote {
    width: 500px;
    margin: auto;
    margin-top: 5%;
    font-family: 'Abel', sans-serif;
    font-size: 150%;
    opacity: .7;
}

.personalTopBar {
    background-color:rgba(0,1,29,1);
    height: 180px;
}

.education {
    opacity: 0;
    background-color: white;
    height: 565px;
    transition: all 1s ease-in-out;
    border-right: 1px solid grey;
    color: black;
    text-align: center;
}
.education2 {
    opacity: 10;
    transition: all .5s ease-in-out;
/*    position: absolute;*/
    width: 50vw;
}

/*
.education3 {
    height: 75vh;
    box-shadow: 0px 5px 5px black;
    transition: all .5s ease-in-out;
}
*/

.lifeStory {
    opacity: 0;
    background-color: white;
    height: 565px;
    color: black;
    text-align: center;
/*    margin-left: 50vw;*/
}
.lifeStory2 {
    opacity: 10;
    position: relative;
    transition: all 1s ease-in-out;
}

/*
.interests {
    opacity: 0;
    background-color: rgba(0,1,29,.9);
    height: 50vh;
}
.interests2 {
    opacity: 10;
    transition: all 1s ease-in-out;
}
*/

.ull {
    color: black;
    margin-top: 61px
}

.borderBottom2 {
    width: 180px;
    border-bottom: 2px solid rgba(48, 49, 77, 1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottomBar {
    height: 180px;
    background-color: rgba(0,1,29,1)
}

.clickText {
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
    top: 50px;
    opacity: 1;
}

.clickText h2 {
    width: 50%;
    margin: auto;
}

/*
.clickTextActive {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    top: -100px;
    position: absolute;
}
*/

.clickText.ng-hide-add,
.clickText.ng-hide-remove,
.clickText.ng-show-add,
.clickText.ng-show-remove {
    transition: all 0.5s ease;
}

.clickText.ng-hide {
    top: -70px;
    opacity: 0;
    z-index: 0;
}

.circle {
    width: 135px;
    height: 135px;
    border-radius: 100px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    top: 35vh;
    left: 0vw;
    position: absolute;
    transition: all 0.5s ease-in-out
}

.circle1 {
    top: 40px;
    left: 5%;
    z-index: 1;
}

.circle2 {
    top: 215px;
    left: 5%;
}

.circle3 {
    top: 400px;
    left: 5%;
}

.circle4 {
    top: 40px;
    left: 80%;
    z-index: 1;
}

.circle5 {
    top: 215px;
    left: 80%;
}

.circle6 {
    top: 400px;
    left: 80%;
}

.circle1Active {
    left: 30%;
    top: 65px;
    height: 220px;
    width: 20vw;
    border-radius: 3px;
    transition: all 0.5s ease-in-out
}

.circle2Active {
    left: 30%;
    top: 65px;
    height: 220px;
    width: 20vw;
    border-radius: 3px;
    transition: all 0.5s ease-in-out
}

.circle3Active {
    left: 30%;
    top: 200px;
    height: 220px;
    width: 20vw;
    border-radius: 3px;
    transition: all 0.5s ease-in-out
}

.circle4Active {
    left: 30%;
    top: 65px;
    height: 220px;
    width: 20vw;
    border-radius: 3px;
    transition: all 0.5s ease-in-out
}

.circle5Active {
    left: 30%;
    top: 65px;
    height: 220px;
    width: 20vw;
    border-radius: 3px;
    transition: all 0.5s ease-in-out
}

.circle6Active {
    left: 30%;
    top: 250px;
    height: 220px;
    width: 20vw;
    border-radius: 3px;
    transition: all 0.5s ease-in-out
}

.miley {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 290px;
}

.miley p {
    width: 44%;
    margin: auto;
}

.miley.ng-hide-add,
.miley.ng-hide-remove,
.miley.ng-show-add,
.miley.ng-show-remove {
    transition: all 0.75s ease;
}

.miley.ng-hide {
    opacity: 0;
}

.hiking {
    opacity: 1;
}

.hiking.ng-hide-add,
.hiking.ng-hide-remove,
.hiking.ng-show-add,
.hiking.ng-show-remove {
    transition: all 0.75s ease;
}

.hiking.ng-hide {
    opacity: 0;
}

.biking {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 50px;
}

.biking p {
    width: 44%;
    margin: auto;
}

.biking.ng-hide-add,
.biking.ng-hide-remove,
.biking.ng-show-add,
.biking.ng-show-remove {
    transition: all 0.75s ease;
}

.biking.ng-hide {
    opacity: 0;
}

.family {
    opacity: 1;
}

.family.ng-hide-add,
.family.ng-hide-remove,
.family.ng-show-add,
.family.ng-show-remove {
    transition: all 0.75s ease;
}

.family.ng-hide {
    opacity: 0;
}



