<div layout="row" ng-hide="toggleView" ng-click="changeView()" ng-class="{contactBackground2: toggleView}">
    <div flex class="contactBackground">
        <p class="quote">"You don't climb mountains without a team, you don't climb mountains without being fit, you don't climb mountains without being prepared and you don't climb mountains without balancing the risks and rewards. And you never climb a mountain on accident - it has to be intentional."</p>
    <h1 style="margin-top: 200px; color: white">Click to continue</h1>
    </div>
</div>
<div layout="row">
    <div flex class="personalTopBar">
        
    </div>
</div>
<div layout="row">
    <div flex class="education" ng-class="{'education2': toggleView, 'education3': viewEducation}" ng-click="educationClick()">
<!--        <h1>Education</h1>-->
        <div layout="row">
            <div flex class="ull">
                <h2>Lafayette, LA</h2>
                <div class="borderBottom2"></div>
                <img src="../images/ull-logo2.gif" style="width: 160px; display: block; margin: auto">
<!--                <h2 style="font-size: 1.7rem; margin-bottom: 10px">University of Louisiana</h2>-->
                <img src="../images/ull.gif" style="height: 160px; width: 160px;">
                <h3>Bachelor's of Science in Petroleum Engineering</h3>
                <div></div>
            </div>
            <div flex>
                <h2 style="margin-top: 80.92px;">Boulder, CO</h2>
                <div class="borderBottom2"></div>
                <a href="http://www.refactoru.com/"><img src="../images/refactoru2.png" style="display: block; margin: auto; margin-bottom: 19px"></a>
                <img src="../images/tech.svg" style="height: 150px; width: 150px">
                <h3 style="margin-top: 26px">10 week immersive full-stack web development bootcamp</h3>
            </div>
        </div>
    </div>
    <div flex class="lifeStory" ng-class="{lifeStory2: toggleView}">
<!--        <h1>My interests</h1>-->
        <div class="circle circle1" ng-class="{'circle1Active': firstOne}" ng-click="clickFirstCircle()" style="background-image: url(../images/miley2.gif)"></div>
        <div class="circle circle2" ng-class="{'circle2Active': secondOne}" ng-click="clickSecondCircle()" style="background-image: url(../images/kevin.gif)"></div>
        <div class="circle circle3" ng-class="{'circle3Active': thirdOne}" ng-click="clickThirdCircle()" style="background-image: url(../images/biking.gif)"></div>
        <div class="circle circle4" ng-class="{'circle4Active': fourthOne}" ng-click="clickFourthCircle()" style="background-image: url(../images/family.gif)"></div>
        <div class="circle circle5" ng-class="{'circle5Active': fifthOne}" ng-click="clickFifthCircle()" style="background-image: url(../images/texas.jpeg)"></div>
        <div class="circle circle6" ng-class="{'circle6Active': sixthOne}" ng-click="clickSixthCircle()" style="background-image: url(../images/blanchards.gif)"></div>
<!--        <div class="clickText" ng-class="{'clickTextActive': firstOne || secondOne || thirdOne || fourthOne || fifthOne}">-->
        <div flex class="clickText" ng-hide="firstOne || secondOne || thirdOne || fourthOne || fifthOne || sixthOne">
            <h2>Click a photo to learn more about me.</h2>
        </div>
        <div class="miley" ng-show="firstOne">
            <h3>Miley</h3>
            <p>My girl who does everything with me inlcuding hiking, biking, and frisbee playing. She loves the mountains as much as I do.</p>
        </div>
        <div class="miley" ng-show="secondOne">
            <h3>Hiking</h3>
            <p>One of the main reasons I moved to Colorado is for hiking. The clarity of mind that comes with spending time in the wilderness is the best thing for me to help stay focused when dealing with difficult projects.</p>
        </div>
        <div class="biking" ng-show="thirdOne">
            <h3>Biking</h3>
            <p>Another reason I moved to Boulder is to ride.</p>
        </div>
        <div class="miley" ng-show="fourthOne">
            <h3>Family</h3>
            <p>Family is always going to important to me. The hardest thing about moving to Colorado was having to leave them. But they still remain awesome and supportive in everything I do.</p>
        </div>
        <div class="miley" ng-show="fifthOne">
            <h3>Texas</h3>
            <p>Even though I love Colorado and there isn't any other place I would rather live, it is still important to remember where you came from. Texas is my home state and it helped shape me into the person I am today. The stars at night, are big and bright,...</p>
        </div>
        <div class="biking" ng-show="sixthOne">
            <h3>Friends</h3>
            <p>Never forget the people who have helped you get where you are. Without the selfless generosity of these amazing people I might not have ever obtained my degree. I have the deepest respect and love for these people and won't ever miss an opportunity to let them know.</p>
        </div>
    </div>
</div>
<div layout="row">
    <div flex class="bottomBar" ng-class="{interests2: toggleView}">
        
    </div>
</div>